@import 'theme-colors';

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.navbar-main {
  color: $lightergray;
  background-color: $lightgray;
  min-height: 12.5vh;

  a {
    color: $lightergray;
    text-align: center;

    &:hover {
      color: darken($lightergray, 10%);
      text-decoration: none;
    }

    &:active {
      color: lighten($button-color, 20%);
    }
  }

  p {
    // margin-top: 5vh;
    font-family: 'Open Sans', sans-serif;
  }
}

#getting-started-wrapper {
  background-color: $darkgray;
  color: $lightergray;
  height: 100%;

  nav {
    background-color: $lightgray;
    min-height: 12.5vh;

    a {
      color: $lightergray;
      text-align: center;

      &:hover {
        color: darken($lightergray, 10%);
        text-decoration: none;
      }

      &:active {
        color: lighten($button-color, 20%);
      }
    }

    li {
      // margin-top: 5vh;
      font-family: 'Open Sans', sans-serif;
      font-weight: lighter;
    }
  }

  .content-area {
    cursor: default;
    margin-top: 7.5vh;
    padding-bottom: 3vh;
    background-image: url(../img/BrainifyBrain-Background.png);
    background-size: 27vh 27vh;
    background-repeat: no-repeat;
    background-position: 35% 75%;

    h1 {
      font-size: 3.25em;
      font-weight: 800;
    }
  }
}

.user-profile {
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
}

.playlists-area {
  margin-top: 2vh;
  margin-bottom: 5vh;

  h3 {
    margin: 0;
  }

  hr {
    margin: 1vh 0;
    border-color: $lightgray;
  }

  .playlist {
    cursor: pointer;
    background-color: $lightgray;
    margin-bottom: 0.5vh;
    height: 8vh;
    padding-left: 5px;
    padding-right: 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    &:hover {
      background-color: darken($lightergray, 10%);
    }

    &:active {
      background-color: darken($lightergray, 20%);
    }

    img {
      display: block;
      width: 6vh;
      height: 6vh;
    }

    p {
      display: block;
      color: white;
      margin-left: auto;
    }
  }
}

.profile-wrapper {
  cursor: pointer;
  p,
  img {
    display: inline-block
  }

  p {
    &:hover {
      color: darken($lightergray, 10%);
    }

    &:active {
      color: lighten($button-color, 20%);
    }
  }

  img {
    margin-right: 5px;
  }
}

.nav-search-bar {
  font-family: 'Open Sans', FontAwesome;
  border-radius: 25px;
  padding: 5px 20px;
  border: none;
  font-size: 0.75em;
  box-shadow: none;
  border: none;
  transition: box-shadow 0.2s ease-out;

  &:focus {
    outline: none !important;
    box-shadow: 0 0 20px $button-color;
    border: 2px solid $button-color;
    -webkit-appearance: none;
    transition: box-shadow 0.2s ease-in;
  }
}

.v-align-only {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
