@import '../node_modules/font-awesome/scss/font-awesome.scss';
@import 'reset';
@import 'theme-colors';
@import 'getting-started';
@import 'learning-test';
@import '../node_modules/angular-ui-bootstrap/src/position/position.scss';
@import '../node_modules/angular-toastr/dist/angular-toastr.scss';

@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: $darkgray;
}

*::selection {
  background-color: $salmon-color;
  color: white;
}

.clearfix {
  clear: both;
}

#landing-page-wrapper {
  height: 100vh;
  color: white;
  background-image: url(../img/landing-page-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  h1 {
    font-weight: 800;
    font-size: 4.5em;
    display: block;
    line-height: 1.05;
  }
}

#landing-page-content-area {
  margin-top: 10vh;
}

#landing-page-navbar {
  position: relative;
  background-color: $navbar-transparent;
  min-height: 15vh;
  font-size: 1.25em;
  padding: 0 10%;

  a {
    color: white;
  }

  li {
    display: block;
    // float: right;
    // margin: 5.5vh 20px;
  }

  #navbar-logo-wrapper {
    // float: left;
    // margin: 3vh 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  #navbar-logo {
    height: 8vh; width: 8vh;
    // float: left;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  #sign-in-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  img {
    display: inline-block;
  }

  h2 {
    // float: left;
    font-size: 1.25em;
    font-weight: 700;
    display: block;
    letter-spacing: -1px;
    // margin: 2.25vh 0;
    // margin-left: 5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12vh;
  }

}

.purple-btn {
  background-color: $button-color;
  letter-spacing: 0px;
  text-transform: uppercase;
  border-radius: 60px;
  padding: 20px 75px;
  border: none;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: darken($button-color, 10%);
  }

  &:active {
    background-color: darken($button-color, 20%);
  }
}

.landing-page-btn {
  font-weight: 700;
  display: block;
  margin: 0 auto;
  font-size: 1.5em;
  margin-bottom: 10vh;
  margin-top: 5vh;
}

.landing-page-tab-wrapper {
  display: block;
  margin: 0 auto;
  width: 8vw;

  .active-tab {
    background-color: white;
  }
}

.landing-page-tab {
  width: 1.25vw; height: 1.25vw;
  background-color: lightgray;
  border-radius: 50%;
  display: inline-block;
  margin: 2px;

  &:hover {
    cursor: pointer;
  }
}

#warning-icon {
  color: #ffc864;
}

.spotify-connect {
  cursor: pointer;
  color: lighten($lightergray, 10%);
  position: relative;
  min-height: 100vh;
  background-image: url(../img/Spotify_logo_without_text.png);
  background-size: 30vh 30vh;
  background-repeat: no-repeat;
  background-position: center 25vh;
  h1 {
    font-weight: 700;
    font-size: 2em;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
