$salmon-color: #ff4169;
$button-color: #7c25f8;
$navbar-color: #351053;
$spotify-green: #2ebd59;
$spotify-red: #eb1e32;
$navbar-transparent: rgba(darken($navbar-color, 10%), 0.76);
$darkgray: rgb(24, 24, 24);
$lightgray: rgb(40, 40, 40);
$lightergray: rgb(160, 160, 160);
