<span us-spinner="{color: '#7c25f8'}" spinner-on="showSpinner"></span>

<div id="getting-started-wrapper" ng-init="loadUserInfo()" ng-show="!showSpinner">
  <nav>
    <input type="text" style="float:left; margin-top: 3.5vh; margin-left: 30vw; border-radius: 25px; padding: 5px 20px; border:none; font-size: 0.75em" placeholder="Search for a user" ng-model="searchedUser" ng-keypress="searchUser($event)">
    <a href="#/messages">Messages</a>
    <div class="current-user" ng-click="goToGettingStarted()">
      <a>
        <ul>
          <li>{{user.display_name}}</li>
        </ul>
        <img ng-src="{{user.images[0].url}}" class="user-profile" alt="{{user.display_name}}"/>
      </a>
    </div>
    <div class="clearfix"></div>
  </nav>
  <div class="content-area">
    <h1>
      Select a<br/>
      playlist<br/>
      to get<br/>
      started.<br/>
    </h1>
  </div>

  <div ng-if="!showOtherUserPlaylists">
    <div class="playlists-area">
      <h3>Your Playlists:</h3>
      <hr/>
      <div ng-repeat="playlist in user.playlists" class="playlist" ng-click="setSelectedPlaylist(playlist.id)">
        <img ng-src="{{playlist.images[0].url}}" alt="{{playlist.name}}"/>
        <ul>
          <li>{{playlist.name}}</li>
        </ul>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>

  <div ng-if="showOtherUserPlaylists">
    <div class="playlists-area">
      <h3>{{otherUser.display_name}}'s Playlists:</h3>
      <hr/>
      <div ng-repeat="playlist in otherUser.playlists" class="playlist" ng-click="setSelectedPlaylist(playlist.id)">
        <img ng-src="{{playlist.images[0].url}}" alt="{{playlist.name}}"/>
        <ul>
          <li>{{playlist.name}}</li>
        </ul>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
