<span us-spinner="{color: '#7c25f8'}" spinner-on="showSpinner"></span>

<div id="getting-started-wrapper" ng-init="loadUserInfo()" ng-show="!showSpinner">
  <nav>
    <div class="current-user">
      <a href="#">
        <ul>
          <li>{{user.display_name}}</li>
        </ul>
        <img ng-src="{{user.images[0].url}}" class="user-profile" alt="{{user.display_name}}"/>
      </a>
    </div>
    <div class="clearfix"></div>
  </nav>
  <div class="content-area">
    <h1>
      Select a<br/>
      playlist<br/>
      to get<br/>
      started.<br/>
    </h1>
  </div>
  <div class="playlists-area">
    <h3>Your Playlists:</h3>
    <hr/>
    <div ng-repeat="playlist in user.playlists" class="playlist" ng-click="setSelectedPlaylist(playlist.id)">
      <img ng-src="{{playlist.images[0].url}}" alt="{{playlist.name}}"/>
      <ul>
        <li>{{playlist.name}}</li>
      </ul>
      <div class="clearfix"></div>
    </div>
  </div>
  <button class="btn btn-default" ng-click="test()" style="display:block;margin:0 auto">Test</button>
</div>
