<span us-spinner spinner-on="showSpinner"></span>

<div ng-init="loadUserInfo()">
  <img ng-src="{{user.images[0].url}}" style="width: 50px;height: 50px; border-radius: 50%"/>
  <h1>{{user.display_name}}</h1>
  <playlist ng-repeat="playlist in user.playlists">
    <img ng-src="{{playlist.images[0].url}}" alt="{{playlist.name}}" style="width: 50px;height: 50px; border-radius: 50%">
    {{playlist.name}}
    <ul>
      <li ng-repeat="song in playlist.songList.items">
        {{song.track.name}}
      </li>
    </ul>
  </playlist>
</div>
