<div id="learning-test-wrapper" class="container-fluid">

  <nav class="navbar-main row vertical-align">
    <div class="col-xs-1"></div>
    <a href="#/getting-started" class="col-xs-1"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
    <a href="#/messages" class="col-xs-offset-5 col-xs-2"><i class="fa fa-envelope" aria-hidden="true"></i> Messages</a>
    <div class="col-xs-2 profile-wrapper vertical-align" ng-click="goToGettingStarted()">
      <img ng-src="{{user.images[0].url}}" class="user-profile" alt="{{user.display_name}}"/>
      <p>{{user.display_name}}</p>
    </div>
    <div class="col-xs-1"></div>
    <div class="clearfix"></div>
  </nav>

  <!--Playlist image and title go here-->
  <div class="playlist-learning">
    <img ng-src="{{playlist.images[0].url}}" alt="{{playlist.name}}">
      <div class="playlist-learning-content">
        <span>PLAYLIST</span>
        <h1>{{playlist.name}}</h1>
        <p>{{playlist.tracks.total}} songs • <a target="_blank" ng-href="{{playlist.external_urls.spotify}}">View in Spotify</a></p>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>

  <!-- When playlist initially loads -->
  <div class="learned-notification" ng-if="!hasSearched">
    <img src="../img/warning-1.svg" alt="Brainify Notification">
    <p>
      Brainify has learned<br/>
      from this playlist.<br/>
      Search for a track to<br/>
      get Brainify's opinion.
    </p>
  </div>

  <!-- When searching a song -->
  <div class="network-result" ng-if="hasSearched">
    <i ng-if="correct" class="fa fa-thumbs-up success" aria-hidden="true"></i>
    <i ng-if="incorrect" class="fa fa-thumbs-down failure" aria-hidden="true"></i>
    <div class="button-group-wrapper">
      <div class="button-group">
        <button ng-class="{hidden: clickedCorrectOrWrong || otherUser}" type="button" class="correct-btn score-btn" ng-click="correctGuess()">CORRECT</button>
        <p ng-class="{hidden: clickedCorrectOrWrong}" id="prediction-score">{{songPredictionResult.toFixed(2) * 100}}%</p>
        <button type="button" on-click-and-hold="hardReset()" ng-class="{hidden: clickedCorrectOrWrong || otherUser}" ng-click="wrongGuess()" class="wrong-btn score-btn">WRONG</button>

        <div ng-show="clickedCorrectOrWrong">
          <button type="button" class="add-to-playlist-btn" ng-click="saveToPlaylist()">Add to Playlist</button>
        </div>
      </div>
    </div>

    <p id="song-to-predict-name">{{songToPredictSearchResult.name}} by {{songToPredictSearchResult.artists[0].name}}</p>
    <button ng-if="otherUser" class="open-modal-btn" ng-click="open()">Recommend this Song</button>
  </div>

  <input type="text" ng-model="songToPredict" ng-keypress="takeAGuess($event)" placeholder="&#xF002; Search for a title" class="nav-search-bar song-search" />

    <div class="other-playlists-recommendations song-list" ng-if="hasSearched">
      <table class="table">
        <thead>
          <tr>
            <th>OTHER PLAYLISTS</th>
            <th>SCORE</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="predictions in allOtherNetworkPredictions">
            <td>{{predictions.name}}</td>
            <td>{{predictions.result.toFixed(2) * 100}}%</td>
          </tr>
        </tbody>
      </table>
    </div>

  <div class="song-list">
    <table class="table">
      <thead>
        <tr>
          <th>SONG</th>
          <th>ALBUM</th>
          <th>ARTIST</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="song in playlist.songList.items">
          <td>{{song.track.name}}</td>
          <td>{{song.track.album.name}}</td>
          <td>{{song.track.artists[0].name}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
